@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Inter:wght@300;400;800&display=swap');

body {
    font-family: 'Dancing Script', cursive;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    box-sizing: border-box;
    background: url(./backimg.jfif);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: #ffffff;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="date"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.cost-summary {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 4px;
}

.cost-summary label {
    font-weight: normal;
    color: #555;
}

.total-cost {
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    color: #333;
}

.cost-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cost-label {
    flex-basis: 70%;
    color: #555;
}

.cost-value {
    flex-basis: 30%;
    text-align: right;
}

button[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.header-image {
    text-align: center;
    margin-bottom: 20px;

}

.header-image img {
    max-width: 200px;
    height: 200px;
    border-radius: 10px;
}

.header-title {
    color: #007BFF;
    font-size: 24px;
}

.form-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-container {
    text-align: center;
    margin-top: 20px;
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
}

.checkbox-group label {
    flex-basis: 50%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 5px;
}